In [87]:
import pandas as pd
df_927 = pd.read_csv("ufc_combined_0927_3.csv", index_col = 0)
# df_911 = pd.read_csv("ufc_combined_0911.csv", index_col = 0)

In [64]:
burns = pd.read_csv("burns_new_stats.csv", index_col = 0)

In [88]:
df_927.shape[0]

7865

In [89]:
df_927.columns

Index(['Winner', 'Event', 'Date', 'Location', 'Fighter 1', 'Fighter 2',
       'Weight class', 'Stance 1', 'Career W 1', 'Career L 1', 'W 1', 'L 1',
       'Num Fights 1', 'W Perc 1', 'Sig Strikes Avg 1', 'Sig Str % 1',
       'Sig Strikes Opp Avg 1', 'Sig Str % Opp 1', 'Strikes Avg 1', 'Str % 1',
       'Strikes Opp Avg 1', 'Str % Opp 1', 'TD Avg 1', 'TD % 1',
       'TD Opp Avg 1', 'TD % Opp 1', 'KD Avg 1', 'KD Opp Avg 1', 'DEC Avg 1',
       'KO Avg 1', 'SUB Avg 1', 'DEC Opp Avg 1', 'KO Opp Avg 1',
       'SUB Opp Avg 1', 'CTRL Avg 1', 'CTRL Opp Avg 1', 'Time Avg 1',
       'Streak 1', 'Ht Diff 1', 'Reach Diff 1', 'Age 1', 'Career Fights 1',
       'Career W Perc 1', 'W 2', 'L 2', 'Num Fights 2', 'W Perc 2',
       'Sig Strikes Avg 2', 'Sig Str % 2', 'Sig Strikes Opp Avg 2',
       'Sig Str % Opp 2', 'Strikes Avg 2', 'Str % 2', 'Strikes Opp Avg 2',
       'Str % Opp 2', 'TD Avg 2', 'TD % 2', 'TD Opp Avg 2', 'TD % Opp 2',
       'KD Avg 2', 'KD Opp Avg 2', 'DEC Avg 2', 'KO Avg 2', 'SUB Avg 2',
       'DEC Opp Avg 2', 'KO Opp Avg 2', 'SUB Opp Avg 2', 'CTRL Avg 2',
       'CTRL Opp Avg 2', 'Time Avg 2', 'Streak 2', 'Career W 2', 'Career L 2',
       'Career Fights 2', 'Career W Perc 2', 'Ht Diff 2', 'Reach Diff 2',
       'Age 2', 'Stance 2'],
      dtype='object')

In [13]:
# Iterate over each row in fights_df
# Initialize an empty list to store combined rows
# combined_rows = []
# other_rows = []
# for idx1, row1 in df_925.iterrows():
#     # Find the matching row in odds_df
#     match = df_911[((df_911['Fighter 1'] == row1['Fighter 1']) & 
#                         (df_911['Fighter 2'] == row1['Fighter 2']) & 
#                         (df_911['Date'] == row1['Date'])) |
#                     ((df_911['Fighter 1'] == row1['Fighter 2']) & 
#                         (df_911['Fighter 2'] == row1['Fighter 1']) & 
#                         (df_911['Date'] == row1['Date']))]

#     if match.empty:
#         other_rows.append(row1)
#     else:
#         combined_rows.append(row1)

In [14]:
# len(combined_rows)

7638

In [15]:
# len(other_rows)

23

In [61]:
df_925[(df_925['Career L 2'] < 0)]

,Winner,Event,Date,Location,Fighter 1,Fighter 2,Weight class,Stance 1,Career W 1,Career L 1,...,Time Avg 2,Streak 2,Career W 2,Career L 2,Career Fights 2,Career W Perc 2,Ht Diff 2,Reach Diff 2,Age 2,Stance 2
4130,1,The Ultimate Fighter: Team Lesnar vs Team dos ...,2011-06-04 00:00:00,"Las Vegas, Nevada, USA",Shamar Bailey,Ryan McGillivray,Welterweight,Southpaw,15,9,...,0.0,0.0,12,-1,11.0,109.090909,2.0,0.0,25.0,NaN
5585,0,UFC Fight Night: Maia vs LaFlare,2015-03-21 00:00:00,"Rio de Janeiro, Brazil",Alex Oliveira,Gilbert Burns,Lightweight,Orthodox,11,2,...,598.5,2.0,9,-1,8.0,112.500000,-1.0,-5.0,29.0,Orthodox
6005,1,UFC Fight Night: Edgar vs Swanson,2014-11-22 00:00:00,"Austin, Texas, USA",Paige VanZant,Kailin Curran,Women's Strawweight,Orthodox,3,1,...,0.0,0.0,3,-1,2.0,150.000000,0.0,0.0,23.0,Orthodox

In [62]:
df_925[(df_925['Career L 1'] < 0)]

,Winner,Event,Date,Location,Fighter 1,Fighter 2,Weight class,Stance 1,Career W 1,Career L 1,...,Time Avg 2,Streak 2,Career W 2,Career L 2,Career Fights 2,Career W Perc 2,Ht Diff 2,Reach Diff 2,Age 2,Stance 2
81,1,UFC 179: Aldo vs Mendes 2,2014-10-25 00:00:00,"Rio de Janeiro, Brazil",Gilbert Burns,Christos Giagos,Lightweight,Orthodox,8,-1,...,0.0,0.0,14,4,18.0,77.777778,0.0,0.0,24.0,Orthodox
660,0,UFC Fight Night: Emmett vs. Topuria,2023-06-24 00:00:00,"Jacksonville, Florida, USA",Trevor Peek,Chepe Mariscal,Lightweight,Switch,8,-1,...,0.0,0.0,13,6,19.0,68.421053,-2.0,-1.0,31.0,Orthodox
5409,0,UFC Fight Night: Belfort vs Henderson 3,2015-11-07 00:00:00,"Sao Paulo, Sao Paulo, Brazil",Gilbert Burns,Rashid Magomedov,Lightweight,Orthodox,10,-1,...,899.0,3.0,18,1,19.0,94.736842,-1.0,-1.0,31.0,Orthodox
5584,1,UFC on FOX: Lawler vs Brown,2014-07-26 00:00:00,"San Jose, California, USA",Gilbert Burns,Andreas Stahl,Welterweight,Orthodox,7,-1,...,0.0,0.0,10,2,12.0,83.333333,1.0,0.0,26.0,Orthodox
7452,0,UFC 293: Adesanya vs. Strickland,2023-09-09 00:00:00,"Sydney, New South Wales, Australia",Felipe dos Santos,Manel Kape,Flyweight,Orthodox,7,-1,...,645.2,3.0,18,6,24.0,75.000000,-2.0,-2.0,30.0,Southpaw
7589,1,UFC Fight Night: Muniz vs. Allen,2023-02-25 00:00:00,"Las Vegas, Nevada, USA",Trevor Peek,Erick Gonzalez,Lightweight,Switch,7,-1,...,225.5,-2.0,14,7,21.0,66.666667,2.0,5.0,31.0,Orthodox

In [72]:
bouts_0927 = pd.read_csv("bouts_0927.csv", index_col = 0)
bouts_913 = pd.read_csv("bouts_913.csv", index_col = 0)

In [73]:
bouts_0927.columns

Index(['Date', 'Location', 'W/L 1', 'W/L 2', 'Fighter 1', 'Fighter 2', 'Kd 1',
       'Kd 2', 'Str 1', 'Str 2', 'Td 1', 'Td 2', 'Sub 1', 'Sub 2',
       'Weight class', 'Method', 'Round', 'Time'],
      dtype='object')

In [74]:
bouts_913.columns

Index(['Date', 'Location', 'W/L 1', 'W/L 2', 'Fighter 1', 'Fighter 2', 'Kd 1',
       'Kd 2', 'Str 1', 'Str 2', 'Td 1', 'Td 2', 'Sub 1', 'Sub 2',
       'Weight class', 'Method', 'Round', 'Time', 'KD 1', 'KD 2',
       'Sig. str. 1', 'Sig. str. 2', 'Sig. str. % 1', 'Sig. str. % 2',
       'Total str. 1', 'Total str. 2', 'Td % 1', 'Td % 2', 'Sub. att 1',
       'Sub. att 2', 'Rev. 1', 'Rev. 2', 'Ctrl 1', 'Ctrl 2'],
      dtype='object')

In [84]:
bouts_clean = pd.read_csv("bouts_0927_2.csv")

In [85]:
# Identify and drop non-integer 'Round' values
bouts_clean['Round_numeric'] = pd.to_numeric(bouts_clean['Round'], errors='coerce')
bouts_clean = bouts_clean.dropna(subset=['Round_numeric'])  # Drop rows with NaN in 'Round_numeric'

# Optionally, drop the temporary 'Round_numeric' column if no longer needed
bouts_clean = bouts_clean.drop(columns=['Round_numeric'])

In [86]:
bouts_clean.to_csv("bouts_0927_3.csv")

In [77]:
# bouts_clean[bouts_clean['Round'] == '--']

Empty DataFrame
Columns: [Event, Date, Location, W/L 1, W/L 2, Fighter 1, Fighter 2, Kd 1, Kd 2, Str 1, Str 2, Td 1, Td 2, Sub 1, Sub 2, Weight class, Method, Round, Time, KD 1, KD 2, Sig. str. 1, Sig. str. 2, Sig. str. % 1, Sig. str. % 2, Total str. 1, Total str. 2, Td % 1, Td % 2, Sub. att 1, Sub. att 2, Rev. 1, Rev. 2, Ctrl 1, Ctrl 2]
Index: []

[0 rows x 35 columns]

In [80]:
# Convert 'Round' column to numeric, forcing non-numeric values to NaN
bouts_clean['Round_numeric'] = pd.to_numeric(bouts_clean['Round'], errors='coerce')

# Check for rows where the conversion failed (i.e., non-integer values)
non_numeric_rounds = bouts_clean[bouts_clean['Round_numeric'].isna()]

# Print or inspect non-integer rows
print(non_numeric_rounds['Round'])

15    Round
98    Round
Name: Round, dtype: object