In [13]:
import pandas as pd
import numpy as np

In [14]:
# read data for fights and fighters
fighters = pd.read_csv("fighters15.csv")
# fighters = pd.read_csv("all_fighters_902.csv")

Next, We will perform a series of steps to clean up the datasets.

In [15]:
fighters.head()

,First,Last,Nickname,Ht,Wt,Reach,Stance,W,L,D,...,SLpM,Str. Acc.,SApM,Str. Def,Unnamed: 15,TD Avg.,TD Acc.,TD Def.,Sub. Avg.,DOB
0,Luiz,Azeredo,NaN,"5' 9""",154 lbs.,--,Orthodox,15,10,0,...,2.16,39%,2.76,57%,NaN,1.07,50%,45%,0.3,"Jun 10, 1976"
1,Hunter,Azure,NaN,"5' 8""",145 lbs.,"69.0""",Orthodox,9,2,0,...,3.92,53%,2.08,58%,NaN,1.97,34%,67%,1.3,"Mar 02, 1992"
2,Tom,Aaron,NaN,--,155 lbs.,--,NaN,5,3,0,...,0.00,0%,0.00,0%,NaN,0.00,0%,0%,0.0,"Jul 13, 1978"
3,Luciano,Azevedo,NaN,"6' 3""",161 lbs.,--,Orthodox,17,9,1,...,0.76,45%,1.97,27%,NaN,2.28,11%,0%,0.0,"Jun 25, 1981"
4,Marcos,Galvao,Loro,"5' 7""",135 lbs.,--,Orthodox,18,8,1,...,1.97,32%,3.86,61%,NaN,2.27,28%,88%,1.1,"Jun 23, 1981"

In [16]:
fighters['Name'] = fighters['First'].fillna('') + ' ' + fighters['Last'].fillna('')

# Strip any leading or trailing whitespace (in case both First and Last are NaN)
fighters['Name'] = fighters['Name'].str.strip()

# check if there are fighters with the same name
fighters[fighters.duplicated(subset="Name", keep=False)]

,First,Last,Nickname,Ht,Wt,Reach,Stance,W,L,D,...,Str. Acc.,SApM,Str. Def,Unnamed: 15,TD Avg.,TD Acc.,TD Def.,Sub. Avg.,DOB,Name
399,Michael,McDonald,The Black Sniper,"5' 11""",205 lbs.,--,Orthodox,1,1,0,...,0%,0.40,50%,NaN,0.00,0%,0%,0.0,"Feb 06, 1965",Michael McDonald
400,Michael,McDonald,Mayday,"5' 9""",135 lbs.,"70.0""",Orthodox,17,4,0,...,42%,2.76,57%,NaN,1.09,66%,52%,1.4,"Jan 15, 1991",Michael McDonald
1491,Tony,Johnson,NaN,"6' 1""",265 lbs.,--,NaN,11,3,0,...,53%,4.73,31%,NaN,2.00,22%,0%,0.0,--,Tony Johnson
1543,Tony,Johnson,NaN,"6' 2""",205 lbs.,"76.0""",Orthodox,7,2,0,...,92%,3.67,22%,NaN,0.00,0%,90%,0.0,"May 02, 1983",Tony Johnson
2279,Joey,Gomez,KO King,"5' 10""",135 lbs.,"73.0""",Orthodox,6,2,0,...,28%,4.46,55%,NaN,0.62,100%,50%,0.0,"Jul 21, 1986",Joey Gomez
2282,Joey,Gomez,NaN,"5' 10""",155 lbs.,"71.0""",Orthodox,7,1,0,...,49%,3.33,50%,NaN,2.00,28%,0%,0.0,"Aug 29, 1989",Joey Gomez
2643,Mike,Davis,Beast Boy,"6' 0""",155 lbs.,"72.0""",Orthodox,11,2,0,...,52%,5.76,55%,NaN,2.77,53%,64%,0.4,"Oct 07, 1992",Mike Davis
2660,Mike,Davis,NaN,--,--,--,NaN,2,0,0,...,0%,0.00,0%,NaN,0.00,0%,0%,0.0,--,Mike Davis
3305,Jean,Silva,Lord,"5' 7""",145 lbs.,"69.0""",Orthodox,14,2,0,...,52%,4.43,57%,NaN,0.81,50%,80%,0.0,"Dec 27, 1996",Jean Silva
3317,Bruno,Silva,Blindado,"6' 0""",185 lbs.,"74.0""",Orthodox,23,11,0,...,49%,5.45,41%,NaN,0.93,27%,73%,0.0,"Jul 13, 1989",Bruno Silva
3321,Bruno,Silva,Bulldog,"5' 4""",125 lbs.,"65.0""",Orthodox,14,5,2,...,48%,3.14,58%,NaN,2.26,28%,60%,0.2,"Mar 16, 1990",Bruno Silva
3334,Jean,Silva,White Bear,"5' 6""",160 lbs.,--,Orthodox,19,12,3,...,22%,2.93,52%,NaN,0.00,0%,0%,0.0,"Oct 08, 1977",Jean Silva

In [12]:
fighters[fighters.duplicated(subset="Name", keep=False)]

KeyError: Index(['Name'], dtype='object')

In [7]:
columns = ['Name'] + [col for col in fighters.columns if col != 'Name']
fighters = fighters[columns]
fighters.head()

,Name,First,Last,Nickname,Ht,Wt,Reach,Stance,W,L,...,SLpM,Str. Acc.,SApM,Str. Def,Unnamed: 15,TD Avg.,TD Acc.,TD Def.,Sub. Avg.,DOB
0,Luiz Azeredo,Luiz,Azeredo,NaN,"5' 9""",154 lbs.,--,Orthodox,15,10,...,2.16,39%,2.76,57%,NaN,1.07,50%,45%,0.3,"Jun 10, 1976"
1,Hunter Azure,Hunter,Azure,NaN,"5' 8""",145 lbs.,"69.0""",Orthodox,9,2,...,3.92,53%,2.08,58%,NaN,1.97,34%,67%,1.3,"Mar 02, 1992"
2,Tom Aaron,Tom,Aaron,NaN,--,155 lbs.,--,NaN,5,3,...,0.00,0%,0.00,0%,NaN,0.00,0%,0%,0.0,"Jul 13, 1978"
3,Luciano Azevedo,Luciano,Azevedo,NaN,"6' 3""",161 lbs.,--,Orthodox,17,9,...,0.76,45%,1.97,27%,NaN,2.28,11%,0%,0.0,"Jun 25, 1981"
4,Marcos Galvao,Marcos,Galvao,Loro,"5' 7""",135 lbs.,--,Orthodox,18,8,...,1.97,32%,3.86,61%,NaN,2.27,28%,88%,1.1,"Jun 23, 1981"

In [180]:
fighters.drop(3334, inplace=True)
fighters.iloc[3321, 0] = "Bruno Silva 185"
fighters.drop(2660, inplace=True)
fighters.drop(2279, inplace=True)
fighters.iloc[1491, 0] = "Tony Johnson 265"
fighters.iloc[400, 0] = "Michael McDonald 205"

# fighters.drop(3325, inplace=True) #2 white bear
# fighters.iloc[3311, 0] = "Bruno Silva 185" #2
# fighters.drop(2627, inplace=True) #2
# fighters.drop(2103, inplace=True) #1
# fighters.iloc[1988, 0] = "Tony Johnson 265" #1
# fighters.iloc[480, 0] = "Michael McDonald 205" #2

In [8]:
fighters.columns

Index(['First', 'Last', 'Nickname', 'Ht', 'Wt', 'Reach', 'Stance', 'W', 'L',
       'D', 'Belt', 'SLpM', 'Str. Acc.', 'SApM', 'Str. Def', 'Unnamed: 15',
       'TD Avg.', 'TD Acc.', 'TD Def.', 'Sub. Avg.', 'DOB'],
      dtype='object')

In [181]:
# columns = ['Name'] + [col for col in fighters.columns if col != 'Name']
# fighters = fighters[columns]
fighters.head()

,Name,First,Last,Nickname,Ht,Wt,Reach,Stance,W,L,...,SLpM,Str. Acc.,SApM,Str. Def,Unnamed: 15,TD Avg.,TD Acc.,TD Def.,Sub. Avg.,DOB
0,Luiz Azeredo,Luiz,Azeredo,NaN,"5' 9""",154 lbs.,--,Orthodox,15,10,...,2.16,39%,2.76,57%,NaN,1.07,50%,45%,0.3,"Jun 10, 1976"
1,Hunter Azure,Hunter,Azure,NaN,"5' 8""",145 lbs.,"69.0""",Orthodox,9,2,...,3.92,53%,2.08,58%,NaN,1.97,34%,67%,1.3,"Mar 02, 1992"
2,Tom Aaron,Tom,Aaron,NaN,--,155 lbs.,--,NaN,5,3,...,0.00,0%,0.00,0%,NaN,0.00,0%,0%,0.0,"Jul 13, 1978"
3,Luciano Azevedo,Luciano,Azevedo,NaN,"6' 3""",161 lbs.,--,Orthodox,17,9,...,0.76,45%,1.97,27%,NaN,2.28,11%,0%,0.0,"Jun 25, 1981"
4,Marcos Galvao,Marcos,Galvao,Loro,"5' 7""",135 lbs.,--,Orthodox,18,8,...,1.97,32%,3.86,61%,NaN,2.27,28%,88%,1.1,"Jun 23, 1981"

In [183]:
# use fighter names as index
# fighters.drop("fighter_id", axis=1, inplace=True)
fighters.set_index("Name", inplace=True)

In [11]:
# Some fighters do not have statistics available, and we will remove those fighters.
# fighters_clean = fighters.loc[~((fighters["SLpM"] == 0) &
#                                (fighters["Str. Acc."] == "0%") &
#                                (fighters["SApM"] == 0) &
#                                (fighters["Str. Def"] == "0%") &
#                                (fighters["TD Avg."] == 0) &
#                                (fighters["TD Acc."] == "0%") &
#                                (fighters["TD Def."] == "0%") &
#                                (fighters["Sub. Avg."] == 0))].copy()

In [54]:
# print("{0} fighters in total, after clean up: {1} fighters".format(len(fighters), len(fighters_clean)))

4219 fighters in total, after clean up: 3473 fighters

Note:
* SLpM - Significant Strikes Landed per Minute
* Str_Acc - Significant Striking Accuracy
* SApM - Significant Strikes Absorbed per Minute
* Str_Def - Significant Strike Defence (the % of opponents strikes that did not land)
* TD_Avg - Average Takedowns Landed per 15 minutes
* TD_Acc - Takedown Accuracy
* TD_Def - Takedown Defense (the % of opponents TD attempts that did not land)
* Sub_Avg - Average Submissions Attempted per 15 minutes

In [14]:
# fighters_clean["win%"] = 100 * (fighters_clean["W"] / (fighters_clean["W"] +
#                                                        fighters_clean["L"] +
#                                                        fighters_clean["D"]))
#                                                       #  fighters_clean["nc"]))  # Assuming nc is not in use

# # Columns that have percentages as strings
# percentages = ["Str. Acc.", "Str. Def", "TD Acc.", "TD Def."]
# # Columns to convert to float32
# statistics = ["SLpM", "Str. Acc.", "SApM", "Str. Def", "TD Avg.", "TD Acc.", "TD Def.", "Sub. Avg.", "win%"]

# # Remove the '%' sign and convert to float
# for col in percentages:
#     fighters_clean[col] = fighters_clean[col].map(lambda x: float(x.replace("%", "")) if pd.notna(x) else x)

# # Convert statistics columns to float32
# fighters_clean[statistics] = fighters_clean[statistics].astype(np.float32, errors='ignore')

# print(fighters_clean)

                      First       Last      Nickname      Ht        Wt  Reach  \
Name
Hunter Azure         Hunter      Azure           NaN   5' 8"  145 lbs.  69.0"
Bartosz Fabinski    Bartosz   Fabinski   The Butcher   6' 0"  170 lbs.  75.0"
Wagnney Fabiano     Wagnney    Fabiano  The Silencer   5' 6"  145 lbs.  69.0"
Brandon Davis       Brandon      Davis      Killer B  5' 10"  135 lbs.  72.0"
Dave Galera            Dave     Galera     Scarecrow  5' 11"  135 lbs.     --
...                     ...        ...           ...     ...       ...    ...
Makoto Takimoto      Makoto   Takimoto           NaN   5' 7"  205 lbs.     --
Yoshiki Takahashi   Yoshiki  Takahashi         Kazuo  5' 11"  199 lbs.     --
Nobuhiko Takada    Nobuhiko     Takada           NaN   6' 0"  220 lbs.     --
Mairbek Taisumov    Mairbek   Taisumov        Beckan   5' 9"  155 lbs.  73.0"
Tatsuro Taira       Tatsuro      Taira           NaN   5' 7"  125 lbs.  70.0"

                     Stance   W   L  D  ...  Str. Acc.  SApM  Str. Def  \
Name                                    ...
Hunter Azure       Orthodox   9   2  0  ...       53.0  2.08      58.0
Bartosz Fabinski   Orthodox  15   5  0  ...       68.0  1.46      51.0
Wagnney Fabiano    Southpaw  16   4  0  ...       38.0  0.66      70.0
Brandon Davis      Orthodox  14  10  0  ...       35.0  4.62      58.0
Dave Galera        Orthodox   5   1  0  ...       69.0  0.53      33.0
...                     ...  ..  .. ..  ...        ...   ...       ...
Makoto Takimoto    Southpaw   6   5  0  ...       39.0  1.71      55.0
Yoshiki Takahashi  Southpaw  30  27  3  ...       51.0  6.47      44.0
Nobuhiko Takada    Southpaw   2   6  2  ...       24.0  1.92      39.0
Mairbek Taisumov   Orthodox  27   6  0  ...       39.0  3.03      64.0
Tatsuro Taira      Orthodox  16   0  0  ...       65.0  1.70      47.0

                   Unnamed: 15  TD Avg.  TD Acc.  TD Def.  Sub. Avg.  \
Name
Hunter Azure               NaN     1.97     34.0     67.0        1.3
Bartosz Fabinski           NaN     7.10     70.0     80.0        0.0
Wagnney Fabiano            NaN     3.44     64.0    100.0        0.4
Brandon Davis              NaN     0.74     42.0     57.0        0.1
Dave Galera                NaN     0.00      0.0     14.0        2.0
...                        ...      ...      ...      ...        ...
Makoto Takimoto            NaN     1.48     50.0     25.0        1.1
Yoshiki Takahashi          NaN     0.00      0.0     66.0        2.3
Nobuhiko Takada            NaN     1.15     20.0      0.0        0.0
Mairbek Taisumov           NaN     1.34     63.0     88.0        0.0
Tatsuro Taira              NaN     2.35     47.0     62.0        2.1

                            DOB        win%
Name
Hunter Azure       Mar 02, 1992   81.818184
Bartosz Fabinski   Apr 26, 1986   75.000000
Wagnney Fabiano    Jul 14, 1975   80.000000
Brandon Davis      May 08, 1990   58.333332
Dave Galera        Jan 12, 1978   83.333336
...                         ...         ...
Makoto Takimoto    Dec 08, 1979   54.545456
Yoshiki Takahashi  Mar 13, 1969   50.000000
Nobuhiko Takada    Apr 12, 1962   20.000000
Mairbek Taisumov   Aug 08, 1988   81.818184
Tatsuro Taira      Jan 27, 2000  100.000000

[3473 rows x 22 columns]

In [55]:
# fighters_clean.head()

,Ht,Wt,Reach,Stance,W,L,DOB,born_year
Name,,,,,,,,
Hunter Azure,"5' 8""",145 lbs.,"69.0""",Orthodox,9,2,"Mar 02, 1992",1992
Bartosz Fabinski,"6' 0""",170 lbs.,"75.0""",Orthodox,15,5,"Apr 26, 1986",1986
Wagnney Fabiano,"5' 6""",145 lbs.,"69.0""",Southpaw,16,4,"Jul 14, 1975",1975
Brandon Davis,"5' 10""",135 lbs.,"72.0""",Orthodox,14,10,"May 08, 1990",1990
Dave Galera,"5' 11""",135 lbs.,--,Orthodox,5,1,"Jan 12, 1978",1978

In [184]:
fighters_clean = fighters

In [185]:
fighters_clean.drop("Nickname", axis=1, inplace=True)
fighters_clean.drop("First", axis=1, inplace=True)
fighters_clean.drop("Last", axis=1, inplace=True)
fighters_clean.drop("SLpM", axis=1, inplace=True)
fighters_clean.drop("Str. Acc.", axis=1, inplace=True)
fighters_clean.drop("SApM", axis=1, inplace=True)
fighters_clean.drop("Str. Def", axis=1, inplace=True)
fighters_clean.drop("TD Avg.", axis=1, inplace=True)
fighters_clean.drop("TD Acc.", axis=1, inplace=True)
fighters_clean.drop("TD Def.", axis=1, inplace=True)
fighters_clean.drop("Sub. Avg.", axis=1, inplace=True)
fighters_clean.drop("Belt", axis=1, inplace=True)
fighters_clean.drop("D", axis=1, inplace=True)
fighters_clean.drop("Unnamed: 15", axis=1, inplace=True)

In [186]:
fighters_clean.columns

Index(['Ht', 'Wt', 'Reach', 'Stance', 'W', 'L', 'DOB'], dtype='object')

In [187]:
fighters_clean.rename(columns={
    'W': 'Career W',
    'L': 'Career L',
    # Add more columns if needed
}, inplace=True)

In [188]:
# use born year only
def get_year(dob):
    if pd.isna(dob):
        return "unk"
    return dob.split(", ")[-1]

fighters_clean["born_year"] = fighters_clean["DOB"].map(lambda dob: get_year(dob))

In [189]:
fighters_clean.tail()

,Ht,Wt,Reach,Stance,Career W,Career L,DOB,born_year
Name,,,,,,,,
Zach Underwood,"6' 2""",185 lbs.,--,NaN,13,7,--,--
Yasuhiro Urushitani,"5' 5""",125 lbs.,--,Southpaw,21,8,"Sep 08, 1976",1976
Christian Uflacker,"5' 11""",170 lbs.,--,NaN,5,0,"Aug 04, 1985",1985
Caol Uno,"5' 7""",155 lbs.,"70.0""",Southpaw,33,19,"May 08, 1975",1975
Jeremy Umphries,--,160 lbs.,--,NaN,5,2,--,--

In [193]:
# Filter rows where 'born_year' is "--"
filtered_df = fighters_clean[fighters_clean['born_year'] == '--']

# Display the filtered DataFrame
print(filtered_df)

                      Ht        Wt Reach    Stance  Career W  Career L DOB  \
Name
James Gabert          --  178 lbs.    --       NaN         6         4  --
Darrel Gholar      5' 8"  194 lbs.    --  Orthodox         5         6  --
Scott Carson       6' 2"  215 lbs.    --       NaN         4         2  --
Takafumi Otsuka    5' 6"  139 lbs.    --  Orthodox        22        13  --
Raquel Pa'aluhi    5' 7"  135 lbs.    --       NaN         6         5  --
...                  ...       ...   ...       ...       ...       ...  ..
Eugenio Tadeu      5' 8"  160 lbs.    --  Orthodox         2         3  --
Amber Tackett         --  115 lbs.    --       NaN         1         3  --
Osamu Tachihikari  6' 5"  300 lbs.    --  Orthodox         0         4  --
Zach Underwood     6' 2"  185 lbs.    --       NaN        13         7  --
Jeremy Umphries       --  160 lbs.    --       NaN         5         2  --

                  born_year
Name
James Gabert             --
Darrel Gholar            --
Scott Carson             --
Takafumi Otsuka          --
Raquel Pa'aluhi          --
...                     ...
Eugenio Tadeu            --
Amber Tackett            --
Osamu Tachihikari        --
Zach Underwood           --
Jeremy Umphries          --

[765 rows x 8 columns]

In [190]:
fighters_clean.to_csv("fighters_clean_0905.csv")

In [18]:
# remove unused columns
# fighters_clean.drop(["DOB"], inplace=True, axis=1)
# fighters_clean.drop(["Unnamed: 15", "First", "Last", "Nickname"], inplace=True, axis=1)
# fighters_clean.drop(["Wt"], inplace=True, axis=1)
# fighters_clean.drop(["Belt"], inplace=True, axis=1)

In [20]:
# fighters_clean.head()

In [88]:
bouts = pd.read_csv("ufc_fights_new_stats_910_2.csv")

Now, let's work on the fights dataset.

In [89]:
bouts.head()

,Unnamed: 0,Event,Date,Location,W/L 1,Fighter 1,Fighter 2,Weight class,Stance 1,Career W 1,...,Streak 2,Career W 2,Career L 2,Career Fights 2,Career W Perc 2,Ht Diff 2,Reach Diff 2,Age 2,Stance 2,born_year 2
0,0,UFC Fight Night: Blaydes vs. Aspinall,2022-07-23 00:00:00,"London, England, United Kingdom",NaN,Charles Johnson,Muhammad Mokaev,Flyweight,Switch,11,...,1,7,0,7.0,100.000000,-2,0,22,Orthodox,2000
1,1,UFC Fight Night: Nzechukwu vs. Cutelaba,2022-11-19 00:00:00,"Las Vegas, Nevada, USA",win,Charles Johnson,Zhalgas Zhumagulov,Flyweight,Switch,11,...,-2,14,7,21.0,66.666667,-5,-4,34,Switch,1988
2,2,UFC Fight Night: Strickland vs. Imavov,2023-01-14 00:00:00,"Las Vegas, Nevada, USA",win,Charles Johnson,Jimmy Flick,Flyweight,Switch,12,...,1,16,5,21.0,76.190476,-2,-2,33,Orthodox,1990
3,3,UFC Fight Night: Muniz vs. Allen,2023-02-25 00:00:00,"Las Vegas, Nevada, USA",NaN,Charles Johnson,Ode Osbourne,Catch Weight,Switch,13,...,-1,11,5,16.0,68.750000,-2,3,31,Southpaw,1992
4,4,UFC Fight Night: Song vs. Simon,2023-04-29 00:00:00,"Las Vegas, Nevada, USA",NaN,Charles Johnson,Cody Durden,Flyweight,Switch,13,...,2,14,4,18.0,77.777778,-2,-3,32,Southpaw,1991

In [90]:
bouts.columns

Index(['Unnamed: 0', 'Event', 'Date', 'Location', 'W/L 1', 'Fighter 1',
       'Fighter 2', 'Weight class', 'Stance 1', 'Career W 1', 'Career L 1',
       'born_year 1', 'W 1', 'L 1', 'Num Fights 1', 'W Perc 1',
       'Sig Strikes Avg 1', 'Sig Str % 1', 'Sig Strikes Opp Avg 1',
       'Sig Str % Opp 1', 'Strikes Avg 1', 'Str % 1', 'Strikes Opp Avg 1',
       'Str % Opp 1', 'TD Avg 1', 'TD % 1', 'TD Opp Avg 1', 'TD % Opp 1',
       'KD Avg 1', 'KD Opp Avg 1', 'DEC Avg 1', 'KO Avg 1', 'SUB Avg 1',
       'DEC Opp Avg 1', 'KO Opp Avg 1', 'SUB Opp Avg 1', 'CTRL Avg 1',
       'CTRL Opp Avg 1', 'Time Avg 1', 'Streak 1', 'Ht Diff 1', 'Reach Diff 1',
       'Age 1', 'Career Fights 1', 'Career W Perc 1', 'W 2', 'L 2',
       'Num Fights 2', 'W Perc 2', 'Sig Strikes Avg 2', 'Sig Str % 2',
       'Sig Strikes Opp Avg 2', 'Sig Str % Opp 2', 'Strikes Avg 2', 'Str % 2',
       'Strikes Opp Avg 2', 'Str % Opp 2', 'TD Avg 2', 'TD % 2',
       'TD Opp Avg 2', 'TD % Opp 2', 'KD Avg 2', 'KD Opp Avg 2', 'DEC Avg 2',
       'KO Avg 2', 'SUB Avg 2', 'DEC Opp Avg 2', 'KO Opp Avg 2',
       'SUB Opp Avg 2', 'CTRL Avg 2', 'CTRL Opp Avg 2', 'Time Avg 2',
       'Streak 2', 'Career W 2', 'Career L 2', 'Career Fights 2',
       'Career W Perc 2', 'Ht Diff 2', 'Reach Diff 2', 'Age 2', 'Stance 2',
       'born_year 2'],
      dtype='object')

In [91]:
# bouts = bouts[bouts['Event'] == 'UFC Fight Night: Lemos vs. Jandiroba']
# bouts = bouts[bouts['Event'] != 'UFC 304: Edwards vs. Muhammad 2']
bouts['W/L 1'] = bouts['W/L 1'].fillna('loss')

In [92]:
bouts["W/L 1"].value_counts()

W/L 1
win     4646
loss    2992
draw      58
Name: count, dtype: int64

In [93]:
# use matches that have a winner, ignore nc, draws
# bouts = bouts.loc[bouts["W/L 1"] == "win"].copy()
bouts = bouts.loc[bouts["W/L 1"].isin(["win", "loss"])].copy()

In [94]:
# bouts["Date"].map(lambda d: d[-4:])

In [95]:
# bouts["fight_year"] = bouts["Date"].map(lambda d: d[-4:])
# bouts["Method"] = bouts["Method"].map(lambda m: m.split("-")[0])

In [96]:
bouts.drop(["Unnamed: 0"], inplace=True, axis=1)

In [97]:
bouts.head()

,Event,Date,Location,W/L 1,Fighter 1,Fighter 2,Weight class,Stance 1,Career W 1,Career L 1,...,Streak 2,Career W 2,Career L 2,Career Fights 2,Career W Perc 2,Ht Diff 2,Reach Diff 2,Age 2,Stance 2,born_year 2
0,UFC Fight Night: Blaydes vs. Aspinall,2022-07-23 00:00:00,"London, England, United Kingdom",loss,Charles Johnson,Muhammad Mokaev,Flyweight,Switch,11,2,...,1,7,0,7.0,100.000000,-2,0,22,Orthodox,2000
1,UFC Fight Night: Nzechukwu vs. Cutelaba,2022-11-19 00:00:00,"Las Vegas, Nevada, USA",win,Charles Johnson,Zhalgas Zhumagulov,Flyweight,Switch,11,3,...,-2,14,7,21.0,66.666667,-5,-4,34,Switch,1988
2,UFC Fight Night: Strickland vs. Imavov,2023-01-14 00:00:00,"Las Vegas, Nevada, USA",win,Charles Johnson,Jimmy Flick,Flyweight,Switch,12,3,...,1,16,5,21.0,76.190476,-2,-2,33,Orthodox,1990
3,UFC Fight Night: Muniz vs. Allen,2023-02-25 00:00:00,"Las Vegas, Nevada, USA",loss,Charles Johnson,Ode Osbourne,Catch Weight,Switch,13,3,...,-1,11,5,16.0,68.750000,-2,3,31,Southpaw,1992
4,UFC Fight Night: Song vs. Simon,2023-04-29 00:00:00,"Las Vegas, Nevada, USA",loss,Charles Johnson,Cody Durden,Flyweight,Switch,13,4,...,2,14,4,18.0,77.777778,-2,-3,32,Southpaw,1991

In [98]:
bouts['Winner'] = bouts.apply(lambda row: row['Fighter 1'] if row['W/L 1'] == 'win' else row['Fighter 2'], axis=1)

In [99]:
bouts.head()

,Event,Date,Location,W/L 1,Fighter 1,Fighter 2,Weight class,Stance 1,Career W 1,Career L 1,...,Career W 2,Career L 2,Career Fights 2,Career W Perc 2,Ht Diff 2,Reach Diff 2,Age 2,Stance 2,born_year 2,Winner
0,UFC Fight Night: Blaydes vs. Aspinall,2022-07-23 00:00:00,"London, England, United Kingdom",loss,Charles Johnson,Muhammad Mokaev,Flyweight,Switch,11,2,...,7,0,7.0,100.000000,-2,0,22,Orthodox,2000,Muhammad Mokaev
1,UFC Fight Night: Nzechukwu vs. Cutelaba,2022-11-19 00:00:00,"Las Vegas, Nevada, USA",win,Charles Johnson,Zhalgas Zhumagulov,Flyweight,Switch,11,3,...,14,7,21.0,66.666667,-5,-4,34,Switch,1988,Charles Johnson
2,UFC Fight Night: Strickland vs. Imavov,2023-01-14 00:00:00,"Las Vegas, Nevada, USA",win,Charles Johnson,Jimmy Flick,Flyweight,Switch,12,3,...,16,5,21.0,76.190476,-2,-2,33,Orthodox,1990,Charles Johnson
3,UFC Fight Night: Muniz vs. Allen,2023-02-25 00:00:00,"Las Vegas, Nevada, USA",loss,Charles Johnson,Ode Osbourne,Catch Weight,Switch,13,3,...,11,5,16.0,68.750000,-2,3,31,Southpaw,1992,Ode Osbourne
4,UFC Fight Night: Song vs. Simon,2023-04-29 00:00:00,"Las Vegas, Nevada, USA",loss,Charles Johnson,Cody Durden,Flyweight,Switch,13,4,...,14,4,18.0,77.777778,-2,-3,32,Southpaw,1991,Cody Durden

In [100]:
# Reorder columns to make 'Name' the first column
# columns = [col for col in bouts.columns if col != 'Location' and col != 'Event'] + ['Event']+['Location']
# bouts = bouts[columns]
columns = ['Winner'] + [col for col in bouts.columns if col != 'Winner']
bouts = bouts[columns]
# columns = [col for col in bouts.columns if col != 'Date'] + ['Date']
# bouts = bouts[columns]
bouts.head()

,Winner,Event,Date,Location,W/L 1,Fighter 1,Fighter 2,Weight class,Stance 1,Career W 1,...,Streak 2,Career W 2,Career L 2,Career Fights 2,Career W Perc 2,Ht Diff 2,Reach Diff 2,Age 2,Stance 2,born_year 2
0,Muhammad Mokaev,UFC Fight Night: Blaydes vs. Aspinall,2022-07-23 00:00:00,"London, England, United Kingdom",loss,Charles Johnson,Muhammad Mokaev,Flyweight,Switch,11,...,1,7,0,7.0,100.000000,-2,0,22,Orthodox,2000
1,Charles Johnson,UFC Fight Night: Nzechukwu vs. Cutelaba,2022-11-19 00:00:00,"Las Vegas, Nevada, USA",win,Charles Johnson,Zhalgas Zhumagulov,Flyweight,Switch,11,...,-2,14,7,21.0,66.666667,-5,-4,34,Switch,1988
2,Charles Johnson,UFC Fight Night: Strickland vs. Imavov,2023-01-14 00:00:00,"Las Vegas, Nevada, USA",win,Charles Johnson,Jimmy Flick,Flyweight,Switch,12,...,1,16,5,21.0,76.190476,-2,-2,33,Orthodox,1990
3,Ode Osbourne,UFC Fight Night: Muniz vs. Allen,2023-02-25 00:00:00,"Las Vegas, Nevada, USA",loss,Charles Johnson,Ode Osbourne,Catch Weight,Switch,13,...,-1,11,5,16.0,68.750000,-2,3,31,Southpaw,1992
4,Cody Durden,UFC Fight Night: Song vs. Simon,2023-04-29 00:00:00,"Las Vegas, Nevada, USA",loss,Charles Johnson,Cody Durden,Flyweight,Switch,13,...,2,14,4,18.0,77.777778,-2,-3,32,Southpaw,1991

In [101]:
bouts.drop(["W/L 1"], inplace=True, axis=1)
bouts.head()

,Winner,Event,Date,Location,Fighter 1,Fighter 2,Weight class,Stance 1,Career W 1,Career L 1,...,Streak 2,Career W 2,Career L 2,Career Fights 2,Career W Perc 2,Ht Diff 2,Reach Diff 2,Age 2,Stance 2,born_year 2
0,Muhammad Mokaev,UFC Fight Night: Blaydes vs. Aspinall,2022-07-23 00:00:00,"London, England, United Kingdom",Charles Johnson,Muhammad Mokaev,Flyweight,Switch,11,2,...,1,7,0,7.0,100.000000,-2,0,22,Orthodox,2000
1,Charles Johnson,UFC Fight Night: Nzechukwu vs. Cutelaba,2022-11-19 00:00:00,"Las Vegas, Nevada, USA",Charles Johnson,Zhalgas Zhumagulov,Flyweight,Switch,11,3,...,-2,14,7,21.0,66.666667,-5,-4,34,Switch,1988
2,Charles Johnson,UFC Fight Night: Strickland vs. Imavov,2023-01-14 00:00:00,"Las Vegas, Nevada, USA",Charles Johnson,Jimmy Flick,Flyweight,Switch,12,3,...,1,16,5,21.0,76.190476,-2,-2,33,Orthodox,1990
3,Ode Osbourne,UFC Fight Night: Muniz vs. Allen,2023-02-25 00:00:00,"Las Vegas, Nevada, USA",Charles Johnson,Ode Osbourne,Catch Weight,Switch,13,3,...,-1,11,5,16.0,68.750000,-2,3,31,Southpaw,1992
4,Cody Durden,UFC Fight Night: Song vs. Simon,2023-04-29 00:00:00,"Las Vegas, Nevada, USA",Charles Johnson,Cody Durden,Flyweight,Switch,13,4,...,2,14,4,18.0,77.777778,-2,-3,32,Southpaw,1991

In [102]:
for idx, col in enumerate(bouts.columns):
    print(f"Column '{col}' has index {idx}")

Column 'Winner' has index 0
Column 'Event' has index 1
Column 'Date' has index 2
Column 'Location' has index 3
Column 'Fighter 1' has index 4
Column 'Fighter 2' has index 5
Column 'Weight class' has index 6
Column 'Stance 1' has index 7
Column 'Career W 1' has index 8
Column 'Career L 1' has index 9
Column 'born_year 1' has index 10
Column 'W 1' has index 11
Column 'L 1' has index 12
Column 'Num Fights 1' has index 13
Column 'W Perc 1' has index 14
Column 'Sig Strikes Avg 1' has index 15
Column 'Sig Str % 1' has index 16
Column 'Sig Strikes Opp Avg 1' has index 17
Column 'Sig Str % Opp 1' has index 18
Column 'Strikes Avg 1' has index 19
Column 'Str % 1' has index 20
Column 'Strikes Opp Avg 1' has index 21
Column 'Str % Opp 1' has index 22
Column 'TD Avg 1' has index 23
Column 'TD % 1' has index 24
Column 'TD Opp Avg 1' has index 25
Column 'TD % Opp 1' has index 26
Column 'KD Avg 1' has index 27
Column 'KD Opp Avg 1' has index 28
Column 'DEC Avg 1' has index 29
Column 'KO Avg 1' has index 30
Column 'SUB Avg 1' has index 31
Column 'DEC Opp Avg 1' has index 32
Column 'KO Opp Avg 1' has index 33
Column 'SUB Opp Avg 1' has index 34
Column 'CTRL Avg 1' has index 35
Column 'CTRL Opp Avg 1' has index 36
Column 'Time Avg 1' has index 37
Column 'Streak 1' has index 38
Column 'Ht Diff 1' has index 39
Column 'Reach Diff 1' has index 40
Column 'Age 1' has index 41
Column 'Career Fights 1' has index 42
Column 'Career W Perc 1' has index 43
Column 'W 2' has index 44
Column 'L 2' has index 45
Column 'Num Fights 2' has index 46
Column 'W Perc 2' has index 47
Column 'Sig Strikes Avg 2' has index 48
Column 'Sig Str % 2' has index 49
Column 'Sig Strikes Opp Avg 2' has index 50
Column 'Sig Str % Opp 2' has index 51
Column 'Strikes Avg 2' has index 52
Column 'Str % 2' has index 53
Column 'Strikes Opp Avg 2' has index 54
Column 'Str % Opp 2' has index 55
Column 'TD Avg 2' has index 56
Column 'TD % 2' has index 57
Column 'TD Opp Avg 2' has index 58
Column 'TD % Opp 2' has index 59
Column 'KD Avg 2' has index 60
Column 'KD Opp Avg 2' has index 61
Column 'DEC Avg 2' has index 62
Column 'KO Avg 2' has index 63
Column 'SUB Avg 2' has index 64
Column 'DEC Opp Avg 2' has index 65
Column 'KO Opp Avg 2' has index 66
Column 'SUB Opp Avg 2' has index 67
Column 'CTRL Avg 2' has index 68
Column 'CTRL Opp Avg 2' has index 69
Column 'Time Avg 2' has index 70
Column 'Streak 2' has index 71
Column 'Career W 2' has index 72
Column 'Career L 2' has index 73
Column 'Career Fights 2' has index 74
Column 'Career W Perc 2' has index 75
Column 'Ht Diff 2' has index 76
Column 'Reach Diff 2' has index 77
Column 'Age 2' has index 78
Column 'Stance 2' has index 79
Column 'born_year 2' has index 80

In [103]:
# randomly swap fighter1 and fighter2 for half of the dataset to create "negative cases"
# swap_indices = np.random.choice(len(bouts), size = len(bouts) // 2, replace = False)
# bouts.iloc[swap_indices, [1, 2]] = bouts.iloc[swap_indices, [2, 1]].values
# bouts.iloc[swap_indices, [3, 4]] = bouts.iloc[swap_indices, [4, 3]].values
# bouts.iloc[swap_indices, [5, 6]] = bouts.iloc[swap_indices, [6, 5]].values
# bouts.iloc[swap_indices, [7, 8]] = bouts.iloc[swap_indices, [8, 7]].values
# bouts.iloc[swap_indices, [9, 10]] = bouts.iloc[swap_indices, [10, 9]].values
# bouts.head()

In [104]:
bouts["Winner"] = bouts["Winner"] == bouts["Fighter 1"]
bouts["Winner"] = bouts["Winner"].astype(int)
bouts["Winner"].value_counts()

Winner
1    4646
0    2992
Name: count, dtype: int64

In [105]:
bouts.head()

,Winner,Event,Date,Location,Fighter 1,Fighter 2,Weight class,Stance 1,Career W 1,Career L 1,...,Streak 2,Career W 2,Career L 2,Career Fights 2,Career W Perc 2,Ht Diff 2,Reach Diff 2,Age 2,Stance 2,born_year 2
0,0,UFC Fight Night: Blaydes vs. Aspinall,2022-07-23 00:00:00,"London, England, United Kingdom",Charles Johnson,Muhammad Mokaev,Flyweight,Switch,11,2,...,1,7,0,7.0,100.000000,-2,0,22,Orthodox,2000
1,1,UFC Fight Night: Nzechukwu vs. Cutelaba,2022-11-19 00:00:00,"Las Vegas, Nevada, USA",Charles Johnson,Zhalgas Zhumagulov,Flyweight,Switch,11,3,...,-2,14,7,21.0,66.666667,-5,-4,34,Switch,1988
2,1,UFC Fight Night: Strickland vs. Imavov,2023-01-14 00:00:00,"Las Vegas, Nevada, USA",Charles Johnson,Jimmy Flick,Flyweight,Switch,12,3,...,1,16,5,21.0,76.190476,-2,-2,33,Orthodox,1990
3,0,UFC Fight Night: Muniz vs. Allen,2023-02-25 00:00:00,"Las Vegas, Nevada, USA",Charles Johnson,Ode Osbourne,Catch Weight,Switch,13,3,...,-1,11,5,16.0,68.750000,-2,3,31,Southpaw,1992
4,0,UFC Fight Night: Song vs. Simon,2023-04-29 00:00:00,"Las Vegas, Nevada, USA",Charles Johnson,Cody Durden,Flyweight,Switch,13,4,...,2,14,4,18.0,77.777778,-2,-3,32,Southpaw,1991

In [115]:
def ensure_winner_is_fighter_1(df):
    # Define columns that need to be swapped
    stat_columns = [col for col in df.columns if col.endswith('1') or col.endswith('2')]

    for index, row in df.iterrows():
        # If Fighter 2 is the winner, swap Fighter 1 and Fighter 2 and their corresponding stats
        if row['Winner'] == 0:
            # Swap fighters
            df.at[index, 'Fighter 1'], df.at[index, 'Fighter 2'] = row['Fighter 2'], row['Fighter 1']

            # Set Winner to 1 since Fighter 1 is now the winner
            df.at[index, 'Winner'] = 1

            # Swap all corresponding stats
            for stat in stat_columns:
                if stat.endswith('1'):
                    stat_1 = stat
                    stat_2 = stat[:-1] + '2'
                    df.at[index, stat_1], df.at[index, stat_2] = row[stat_2], row[stat_1]

    return df

In [116]:
# def randomize_winner(df):
#     # Define columns that need to be swapped
#     stat_columns = [col for col in df.columns if col.endswith('1') or col.endswith('2')]

#     for index, row in df.iterrows():
#         # Randomly decide whether to flip (50% chance)
#         if np.random.rand() > 0.5:
#             # Swap fighters
#             df.at[index, 'Fighter 1'], df.at[index, 'Fighter 2'] = row['Fighter 2'], row['Fighter 1']

#             # Swap winner
#             df.at[index, 'Winner'] = 1 if row['Winner'] == 0 else 0

#             # Swap all corresponding stats
#             for stat in stat_columns:
#                 if stat.endswith('1'):
#                     stat_1 = stat
#                     stat_2 = stat[:-1] + '2'
#                     df.at[index, stat_1], df.at[index, stat_2] = row[stat_2], row[stat_1]

#     return df

def randomize_winner(df):
    # Define columns that need to be swapped
    stat_columns = [col for col in df.columns if col.endswith('1') or col.endswith('2')]

    for index, row in df.iterrows():
        # Randomly decide whether to flip (50% chance)
        flip_winner = np.random.choice([0, 1])  # 0 or 1 with equal probability

        if flip_winner == 1:
            # Swap fighters
            df.at[index, 'Fighter 1'], df.at[index, 'Fighter 2'] = row['Fighter 2'], row['Fighter 1']

            # Swap winner
            df.at[index, 'Winner'] = 1 if row['Winner'] == 0 else 0

            # Swap all corresponding stats
            for stat in stat_columns:
                if stat.endswith('1'):
                    stat_1 = stat
                    stat_2 = stat[:-1] + '2'
                    df.at[index, stat_1], df.at[index, stat_2] = row[stat_2], row[stat_1]

    return df

In [114]:

bouts.columns

Index(['Winner', 'Event', 'Date', 'Location', 'Fighter 1', 'Fighter 2',
       'Weight class', 'Stance 1', 'Career W 1', 'Career L 1', 'born_year 1',
       'W 1', 'L 1', 'Num Fights 1', 'W Perc 1', 'Sig Strikes Avg 1',
       'Sig Str % 1', 'Sig Strikes Opp Avg 1', 'Sig Str % Opp 1',
       'Strikes Avg 1', 'Str % 1', 'Strikes Opp Avg 1', 'Str % Opp 1',
       'TD Avg 1', 'TD % 1', 'TD Opp Avg 1', 'TD % Opp 1', 'KD Avg 1',
       'KD Opp Avg 1', 'DEC Avg 1', 'KO Avg 1', 'SUB Avg 1', 'DEC Opp Avg 1',
       'KO Opp Avg 1', 'SUB Opp Avg 1', 'CTRL Avg 1', 'CTRL Opp Avg 1',
       'Time Avg 1', 'Streak 1', 'Ht Diff 1', 'Reach Diff 1', 'Age 1',
       'Career Fights 1', 'Career W Perc 1', 'W 2', 'L 2', 'Num Fights 2',
       'W Perc 2', 'Sig Strikes Avg 2', 'Sig Str % 2', 'Sig Strikes Opp Avg 2',
       'Sig Str % Opp 2', 'Strikes Avg 2', 'Str % 2', 'Strikes Opp Avg 2',
       'Str % Opp 2', 'TD Avg 2', 'TD % 2', 'TD Opp Avg 2', 'TD % Opp 2',
       'KD Avg 2', 'KD Opp Avg 2', 'DEC Avg 2', 'KO Avg 2', 'SUB Avg 2',
       'DEC Opp Avg 2', 'KO Opp Avg 2', 'SUB Opp Avg 2', 'CTRL Avg 2',
       'CTRL Opp Avg 2', 'Time Avg 2', 'Streak 2', 'Career W 2', 'Career L 2',
       'Career Fights 2', 'Career W Perc 2', 'Ht Diff 2', 'Reach Diff 2',
       'Age 2', 'Stance 2', 'born_year 2'],
      dtype='object')

In [117]:
bouts_test = bouts.copy()

In [120]:
print(bouts.iloc[0].tolist())
print(bouts_test.iloc[0].tolist())

[0, 'UFC Fight Night: Blaydes vs. Aspinall', '2022-07-23 00:00:00', 'London, England, United Kingdom', 'Charles Johnson', 'Muhammad Mokaev', 'Flyweight', 'Switch', 11, 2, '1991', 0, 0, 0, 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 2, 0, 31, 13.0, 84.61538461538461, 1, 0, 1, 100, 2.0, 40.0, 1.0, 20.0, 2.0, 20.0, 1.0, 10.0, 0.0, 0.0, 1.0, 100.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 11.0, 0.0, 58.0, 1, 7, 0, 7.0, 100.0, -2, 0, 22, 'Orthodox', '2000']
[1, 'UFC Fight Night: Blaydes vs. Aspinall', '2022-07-23 00:00:00', 'London, England, United Kingdom', 'Muhammad Mokaev', 'Charles Johnson', 'Flyweight', 'Orthodox', 7, 0, '2000', 1, 0, 1, 100, 2.0, 40.0, 1.0, 20.0, 2.0, 20.0, 1.0, 10.0, 0.0, 0.0, 1.0, 100.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 11.0, 0.0, 58.0, 1, -2, 0, 22, 7.0, 100.0, 0, 0, 0, 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 11, 2, 13.0, 84.61538461538461, 2, 0, 31, 'Switch', '1991']

In [118]:
bouts_test.head()

,Winner,Event,Date,Location,Fighter 1,Fighter 2,Weight class,Stance 1,Career W 1,Career L 1,...,Streak 2,Career W 2,Career L 2,Career Fights 2,Career W Perc 2,Ht Diff 2,Reach Diff 2,Age 2,Stance 2,born_year 2
0,0,UFC Fight Night: Blaydes vs. Aspinall,2022-07-23 00:00:00,"London, England, United Kingdom",Charles Johnson,Muhammad Mokaev,Flyweight,Switch,11,2,...,1,7,0,7.0,100.000000,-2,0,22,Orthodox,2000
1,1,UFC Fight Night: Nzechukwu vs. Cutelaba,2022-11-19 00:00:00,"Las Vegas, Nevada, USA",Charles Johnson,Zhalgas Zhumagulov,Flyweight,Switch,11,3,...,-2,14,7,21.0,66.666667,-5,-4,34,Switch,1988
2,1,UFC Fight Night: Strickland vs. Imavov,2023-01-14 00:00:00,"Las Vegas, Nevada, USA",Charles Johnson,Jimmy Flick,Flyweight,Switch,12,3,...,1,16,5,21.0,76.190476,-2,-2,33,Orthodox,1990
3,0,UFC Fight Night: Muniz vs. Allen,2023-02-25 00:00:00,"Las Vegas, Nevada, USA",Charles Johnson,Ode Osbourne,Catch Weight,Switch,13,3,...,-1,11,5,16.0,68.750000,-2,3,31,Southpaw,1992
4,0,UFC Fight Night: Song vs. Simon,2023-04-29 00:00:00,"Las Vegas, Nevada, USA",Charles Johnson,Cody Durden,Flyweight,Switch,13,4,...,2,14,4,18.0,77.777778,-2,-3,32,Southpaw,1991

In [119]:
# Apply the function to your DataFrame
bouts_test = ensure_winner_is_fighter_1(bouts_test)

In [121]:
bouts_test.head()

,Winner,Event,Date,Location,Fighter 1,Fighter 2,Weight class,Stance 1,Career W 1,Career L 1,...,Streak 2,Career W 2,Career L 2,Career Fights 2,Career W Perc 2,Ht Diff 2,Reach Diff 2,Age 2,Stance 2,born_year 2
0,1,UFC Fight Night: Blaydes vs. Aspinall,2022-07-23 00:00:00,"London, England, United Kingdom",Muhammad Mokaev,Charles Johnson,Flyweight,Orthodox,7,0,...,0,11,2,13.0,84.615385,2,0,31,Switch,1991
1,1,UFC Fight Night: Nzechukwu vs. Cutelaba,2022-11-19 00:00:00,"Las Vegas, Nevada, USA",Charles Johnson,Zhalgas Zhumagulov,Flyweight,Switch,11,3,...,-2,14,7,21.0,66.666667,-5,-4,34,Switch,1988
2,1,UFC Fight Night: Strickland vs. Imavov,2023-01-14 00:00:00,"Las Vegas, Nevada, USA",Charles Johnson,Jimmy Flick,Flyweight,Switch,12,3,...,1,16,5,21.0,76.190476,-2,-2,33,Orthodox,1990
3,1,UFC Fight Night: Muniz vs. Allen,2023-02-25 00:00:00,"Las Vegas, Nevada, USA",Ode Osbourne,Charles Johnson,Catch Weight,Southpaw,11,5,...,2,13,3,16.0,81.250000,2,-3,32,Switch,1991
4,1,UFC Fight Night: Song vs. Simon,2023-04-29 00:00:00,"Las Vegas, Nevada, USA",Cody Durden,Charles Johnson,Flyweight,Southpaw,14,4,...,-1,13,4,17.0,76.470588,2,3,32,Switch,1991

In [122]:
bouts_test["Winner"].value_counts()

Winner
1    7638
Name: count, dtype: int64

In [78]:
bouts_test.head()

,Winner,Event,Date,Location,Fighter 1,Fighter 2,Weight class,Stance 1,Career W 1,Career L 1,...,Streak 2,Career W 2,Career L 2,Career Fights 2,Career W Perc 2,Ht Diff 2,Reach Diff 2,Age 2,Stance 2,born_year 2
0,1,UFC Fight Night: Blaydes vs. Aspinall,2022-07-23 00:00:00,"London, England, United Kingdom",Muhammad Mokaev,Charles Johnson,Flyweight,Orthodox,7,0,...,0,11,2,13.0,84.615385,2,0,31,Switch,1991
1,1,UFC Fight Night: Nzechukwu vs. Cutelaba,2022-11-19 00:00:00,"Las Vegas, Nevada, USA",Charles Johnson,Zhalgas Zhumagulov,Flyweight,Switch,11,3,...,-2,14,7,21.0,66.666667,-5,-4,34,Switch,1988
2,1,UFC Fight Night: Strickland vs. Imavov,2023-01-14 00:00:00,"Las Vegas, Nevada, USA",Charles Johnson,Jimmy Flick,Flyweight,Switch,12,3,...,1,16,5,21.0,76.190476,-2,-2,33,Orthodox,1990
3,1,UFC Fight Night: Muniz vs. Allen,2023-02-25 00:00:00,"Las Vegas, Nevada, USA",Ode Osbourne,Charles Johnson,Catch Weight,Southpaw,11,5,...,2,13,3,16.0,81.250000,2,-3,32,Switch,1991
4,1,UFC Fight Night: Song vs. Simon,2023-04-29 00:00:00,"Las Vegas, Nevada, USA",Cody Durden,Charles Johnson,Flyweight,Southpaw,14,4,...,-1,13,4,17.0,76.470588,2,3,32,Switch,1991

In [127]:
# Apply the function to your DataFrame
bouts_test = randomize_winner(bouts_test)

In [128]:
bouts_test["Winner"].value_counts()

Winner
1    3837
0    3801
Name: count, dtype: int64

In [129]:
bouts = bouts_test

In [168]:
print(bouts[(bouts["Fighter 1"]=="Jean Silva") | (bouts["Fighter 2"]=="Jean Silva")])
print(bouts[(bouts["Fighter 1"]=="Bruno Silva") | (bouts["Fighter 2"]=="Bruno Silva")])
print(bouts[(bouts["Fighter 1"]=="Joey Gomez") | (bouts["Fighter 2"]=="Joey Gomez")])
print(bouts[(bouts["Fighter 1"]=="Tony Johnson") | (bouts["Fighter 2"]=="Tony Johnson")])
print(bouts[(bouts["Fighter 1"]=="Michael McDonald") | (bouts["Fighter 2"]=="Michael McDonald")])
# print(bouts[(bouts["Fighter 1"]=="Mike Davis") | (bouts["Fighter 2"]=="Mike Davis")])

    Winner                                   Event                 Date  \
55       1  UFC Fight Night: Ankalaev vs. Walker 2  2024-01-13 00:00:00
56       1        UFC 303: Pereira vs. Prochazka 2  2024-06-29 00:00:00
57       0   UFC Fight Night: Namajunas vs. Cortez  2024-07-13 00:00:00

                  Location   Fighter 1         Fighter 2   Weight class  Ht 1  \
55  Las Vegas, Nevada, USA  Jean Silva     Westin Wilson  Featherweight  67.0
56  Las Vegas, Nevada, USA  Jean Silva  Charles Jourdain  Featherweight  67.0
57   Denver, Colorado, USA  Drew Dober        Jean Silva    Lightweight  68.0

   Reach 1  Stance 1  ...  Streak 2  Career W 2 Career L 2 Career Fights 2  \
55    69.0  Orthodox  ...        -1          16          8            24.0
56    69.0  Orthodox  ...        -1          15          7            22.0
57    70.0  Southpaw  ...         2          13          2            15.0

    Career W Perc 2  Ht 2  Reach 2  Stance 2         DOB 2  born_year 2
55        66.666667  73.0     73.0  Southpaw  Jan 24, 1989         1989
56        68.181818  69.0     69.0    Switch  Nov 27, 1995         1995
57        86.666667  67.0     69.0  Orthodox  Dec 27, 1996         1996

[3 rows x 81 columns]
      Winner                                    Event                 Date  \
1124       1     UFC 294: Makhachev vs. Volkanovski 2  2023-10-21 00:00:00
1201       1        UFC Fight Night: Lee vs. Oliveira  2020-03-14 00:00:00
1202       0    UFC Fight Night: Moraes vs. Sandhagen  2020-10-10 00:00:00
1203       1     UFC Fight Night: Brunson vs. Holland  2021-03-20 00:00:00
1204       1      UFC Fight Night: Font vs. Garbrandt  2021-05-22 00:00:00
1205       0            UFC Fight Night: Jung vs. Ige  2021-06-19 00:00:00
1206       0         UFC Fight Night: Ladd vs. Dumont  2021-10-16 00:00:00
1207       1            UFC 269: Oliveira vs. Poirier  2021-12-11 00:00:00
1208       0     UFC Fight Night: Santos vs. Ankalaev  2022-03-12 00:00:00
1209       0           UFC Fight Night: Vera vs. Cruz  2022-08-13 00:00:00
1210       0     UFC Fight Night: Yan vs. Dvalishvili  2023-03-11 00:00:00
1211       1   UFC Fight Night: Pavlovich vs. Blaydes  2023-04-22 00:00:00
1212       0      UFC Fight Night: Emmett vs. Topuria  2023-06-24 00:00:00
1213       0  UFC Fight Night: Blanchfield vs. Fiorot  2024-03-30 00:00:00
1214       1     UFC Fight Night: Lemos vs. Jandiroba  2024-07-20 00:00:00

                                        Location          Fighter 1  \
1124  Abu Dhabi, Abu Dhabi, United Arab Emirates    Shara Magomedov
1201          Brasilia, Distrito Federal, Brazil       David Dvorak
1202  Abu Dhabi, Abu Dhabi, United Arab Emirates        Bruno Silva
1203                      Las Vegas, Nevada, USA        Bruno Silva
1204                      Las Vegas, Nevada, USA        Bruno Silva
1205                      Las Vegas, Nevada, USA  Wellington Turman
1206                      Las Vegas, Nevada, USA     Andrew Sanchez
1207                      Las Vegas, Nevada, USA        Bruno Silva
1208                      Las Vegas, Nevada, USA        Bruno Silva
1209                  San Diego, California, USA        Bruno Silva
1210                      Las Vegas, Nevada, USA          Tyson Nam
1211                      Las Vegas, Nevada, USA        Bruno Silva
1212                  Jacksonville, Florida, USA        Bruno Silva
1213              Atlantic City, New Jersey, USA        Bruno Silva
1214                      Las Vegas, Nevada, USA        Bruno Silva

               Fighter 2  Weight class  Ht 1 Reach 1  Stance 1  ...  Streak 2  \
1124         Bruno Silva  Middleweight  74.0    73.0  Orthodox  ...        -1
1201         Bruno Silva     Flyweight  65.0    68.0  Orthodox  ...         0
1202     Tagir Ulanbekov     Flyweight  72.0    74.0  Orthodox  ...         0
1203             JP Buys     Flyweight  72.0    74.0  Orthodox  ...         0
1204    Victor Rodriguez     Flyweight  72.0    74.0  Orthodox  ...        -1
1205         Bruno Silva  Middleweight  72.0    72.0  Orthodox  ...         2
1206         Bruno Silva  Middleweight  73.0    74.0  Orthodox  ...         3
1207       Jordan Wright  Middleweight  72.0    74.0  Orthodox  ...         1
1208        Alex Pereira  Middleweight  72.0    74.0  Orthodox  ...         1
1209  Gerald Meerschaert  Middleweight  72.0    74.0  Orthodox  ...        -1
1210         Bruno Silva     Flyweight  67.0    68.0  Orthodox  ...        -2
1211        Brad Tavares  Middleweight  72.0    74.0  Orthodox  ...        -1
1212       Brendan Allen  Middleweight  72.0    74.0  Orthodox  ...         4
1213       Chris Weidman  Middleweight  72.0    74.0  Orthodox  ...        -2
1214         Cody Durden     Flyweight  72.0    74.0  Orthodox  ...        -1

      Career W 2 Career L 2 Career Fights 2  Career W Perc 2  Ht 2  Reach 2  \
1124          22          9            31.0        70.967742  72.0     74.0
1201          15          4            19.0        78.947368  72.0     74.0
1202          11          1            12.0        91.666667  67.0     70.0
1203           9          2            11.0        81.818182  65.0     67.0
1204           7          3            10.0        70.000000  65.0     67.0
1205          17          6            23.0        73.913043  72.0     74.0
1206          18          6            24.0        75.000000  72.0     74.0
1207          12          1            13.0        92.307692  74.0     77.0
1208           4          1             5.0        80.000000  76.0     79.0
1209          35         15            50.0        70.000000  73.0     77.0
1210          20          8            28.0        71.428571  72.0     74.0
1211          19          8            27.0        70.370370  73.0     74.0
1212          21          5            26.0        80.769231  74.0     75.0
1213          15          7            22.0        68.181818  74.0     78.0
1214          16          5            21.0        76.190476  67.0     67.0

      Stance 2         DOB 2  born_year 2
1124  Orthodox  Jul 13, 1989         1989
1201  Orthodox  Jul 13, 1989         1989
1202  Southpaw  Aug 07, 1991         1991
1203  Orthodox  Apr 30, 1996         1996
1204    Switch  Sep 05, 1992         1992
1205  Orthodox  Jul 13, 1989         1989
1206  Orthodox  Jul 13, 1989         1989
1207  Orthodox  Oct 07, 1991         1991
1208  Orthodox  Jul 07, 1987         1987
1209  Southpaw  Dec 18, 1987         1987
1210  Orthodox  Jul 13, 1989         1989
1211  Orthodox  Dec 21, 1987         1987
1212  Orthodox  Dec 28, 1995         1995
1213  Orthodox  Jun 17, 1984         1984
1214  Southpaw  Mar 29, 1991         1991

[15 rows x 81 columns]
      Winner                                 Event                 Date  \
5821       1    UFC Fight Night: Dillashaw vs Cruz  2016-01-17 00:00:00
6097       0  UFC Fight Night: Poirier vs. Johnson  2016-09-17 00:00:00

                        Location   Fighter 1      Fighter 2  Weight class  \
5821  Boston, Massachusetts, USA    Rob Font     Joey Gomez  Bantamweight
6097         Hidalgo, Texas, USA  Joey Gomez  Jose Quinonez  Bantamweight

      Ht 1 Reach 1  Stance 1  ...  Streak 2  Career W 2 Career L 2  \
5821  68.0    71.0  Orthodox  ...         0           7         -1
6097  70.0    71.0  Orthodox  ...         1           5          2

     Career Fights 2  Career W Perc 2  Ht 2  Reach 2  Stance 2         DOB 2  \
5821             6.0       116.666667  70.0     71.0  Orthodox  Aug 29, 1989
6097             7.0        71.428571  68.0     69.0  Southpaw  Jul 28, 1990

      born_year 2
5821         1989
6097         1990

[2 rows x 81 columns]
Empty DataFrame
Columns: [Winner, Event, Date, Location, Fighter 1, Fighter 2, Weight class, Ht 1, Reach 1, Stance 1, Career W 1, Career L 1, DOB 1, born_year 1, W 1, L 1, Num Fights 1, W Perc 1, Sig Strikes 1, Sig Str % 1, Sig Strikes Opp 1, Sig Str % Opp 1, Strikes 1, Str % 1, Strikes Opp 1, Str % Opp 1, TD 1, TD % 1, TD Opp 1, TD % Opp 1, KD Total 1, KD Total Opp 1, DEC 1, KO 1, SUB 1, DEC Opp 1, KO Opp 1, SUB Opp 1, CTRL Total 1, CTRL Total Opp 1, Time Total 1, Streak 1, Career Fights 1, Career W Perc 1, W 2, L 2, Num Fights 2, W Perc 2, Sig Strikes 2, Sig Str % 2, Sig Strikes Opp 2, Sig Str % Opp 2, Strikes 2, Str % 2, Strikes Opp 2, Str % Opp 2, TD 2, TD % 2, TD Opp 2, TD % Opp 2, KD Total 2, KD Total Opp 2, DEC 2, KO 2, SUB 2, DEC Opp 2, KO Opp 2, SUB Opp 2, CTRL Total 2, CTRL Total Opp 2, Time Total 2, Streak 2, Career W 2, Career L 2, Career Fights 2, Career W Perc 2, Ht 2, Reach 2, Stance 2, DOB 2, born_year 2]
Index: []

[0 rows x 81 columns]
      Winner                                  Event                 Date  \
3986       0             UFC 130: Rampage vs Hamill  2011-05-28 00:00:00
4015       1     UFC Fight Night: Nogueira vs Davis  2011-03-26 00:00:00
4016       0           UFC 139: Shogun vs Henderson  2011-11-19 00:00:00
4017       0                UFC 145: Jones vs Evans  2012-04-21 00:00:00
4018       1      UFC on FUEL TV: Barao vs McDonald  2013-02-16 00:00:00
4019       1      UFC Fight Night: Shogun vs Sonnen  2013-08-17 00:00:00
4020       1    UFC on FOX: Johnson vs. Benavidez 2  2013-12-14 00:00:00
4021       0              UFC 195: Lawler vs Condit  2016-01-02 00:00:00
4022       1  UFC Fight Night: McDonald vs. Lineker  2016-07-13 00:00:00

                             Location          Fighter 1         Fighter 2  \
3986           Las Vegas, Nevada, USA      Chris Cariaso  Michael McDonald
4015         Seattle, Washington, USA   Michael McDonald    Edwin Figueroa
4016        San Jose, California, USA          Alex Soto  Michael McDonald
4017            Atlanta, Georgia, USA      Miguel Torres  Michael McDonald
4018  London, England, United Kingdom        Renan Barao  Michael McDonald
4019       Boston, Massachusetts, USA   Michael McDonald      Brad Pickett
4020      Sacramento, California, USA       Urijah Faber  Michael McDonald
4021           Las Vegas, Nevada, USA  Masanori Kanehara  Michael McDonald
4022   Sioux Falls, South Dakota, USA       John Lineker  Michael McDonald

      Weight class  Ht 1 Reach 1  Stance 1  ...  Streak 2  Career W 2  \
3986  Bantamweight  63.0    64.0  Southpaw  ...         1          -4
4015  Bantamweight  71.0      --  Orthodox  ...         0           7
4016  Bantamweight  68.0      --  Southpaw  ...         2          -3
4017  Bantamweight  69.0    76.0  Orthodox  ...         3          -2
4018  Bantamweight  66.0    70.0  Orthodox  ...         4          -1
4019  Bantamweight  71.0      --  Orthodox  ...         1          23
4020  Bantamweight  66.0    67.0  Orthodox  ...         1           0
4021  Bantamweight  67.0    67.0  Orthodox  ...        -1           0
4022  Bantamweight  63.0    67.0  Orthodox  ...         1           1

     Career L 2 Career Fights 2  Career W Perc 2  Ht 2  Reach 2  Stance 2  \
3986         -2            -6.0        66.666667  71.0       --  Orthodox
4015          1             8.0        87.500000  67.0     69.0  Orthodox
4016         -2            -5.0        60.000000  71.0       --  Orthodox
4017         -2            -4.0        50.000000  71.0       --  Orthodox
4018         -2            -3.0        33.333333  71.0       --  Orthodox
4019          7            30.0        76.666667  66.0     68.0  Orthodox
4020         -1            -1.0        -0.000000  71.0       --  Orthodox
4021          0             0.0              NaN  71.0       --  Orthodox
4022          0             1.0       100.000000  71.0       --  Orthodox

             DOB 2  born_year 2
3986  Feb 06, 1965         1965
4015  Jul 31, 1984         1984
4016  Feb 06, 1965         1965
4017  Feb 06, 1965         1965
4018  Feb 06, 1965         1965
4019  Sep 24, 1978         1978
4020  Feb 06, 1965         1965
4021  Feb 06, 1965         1965
4022  Feb 06, 1965         1965

[9 rows x 81 columns]

In [130]:
# again, handel duplicate names
bouts_clean = bouts.copy()
for col in ["Fighter 1", "Fighter 2"]:
    bouts_clean.loc[(bouts_clean[col] == "Michael McDonald") &
                    (bouts_clean["Weight class"] == "Light Heavyweight"), col] = "Michael McDonald 205"
    bouts_clean.loc[(bouts_clean[col] == "Tony Johnson") &
                    (bouts_clean["Weight class"] == "Heavyweight"), col] = "Tony Johnson 265"
    bouts_clean.loc[(bouts_clean[col] == "Bruno Silva") &
                    (bouts_clean["Weight class"] == "Middleweight"), col] = "Bruno Silva 185"
    # bouts_clean.loc[(bouts_clean[col] == "Mike Davis") &
    #                 (bouts_clean["Weight class"] == "Lightweight"), col] = "Mike Davis 155"

In [125]:
# bouts_clean = bouts.copy()
# for col in ["Fighter 1", "Fighter 2"]:
#     bouts_clean.loc[(bouts_clean[col] == "Mike Davis") &
#                     (bouts_clean["Weight class"] == "Lightweight"), col] = "Mike Davis 155"

In [170]:
# bouts_clean[bouts_clean["fighter1"] == "Dong Hyun Kim 155"]
# fighters_clean.drop('Jean Silva 160', inplace=True)
# df = df[df['Name'] != 'Jean Silva 160']
# fighters_clean = fighters_clean[fighters_clean.index != 'Jean Silva 160']
# print(fighters_clean[fighters_clean.index == 'Mike Davis'])

               Ht        Wt  Reach    Stance  Career W  Career L  \
Name
Mike Davis  6' 0"  155 lbs.  72.0"  Orthodox        11         2

                     DOB born_year
Name
Mike Davis  Oct 07, 1992      1992

Next, we need to fuse these two datasets together.

In [173]:
# make sure all fighters are in the figher database
# otherwise remove the corresponding bout
# all_fighter_names = fighters_clean.index.values.tolist()

# bouts_clean = bouts_clean.loc[(bouts_clean["Fighter 1"].isin(all_fighter_names)) &
#                               (bouts_clean["Fighter 2"].isin(all_fighter_names))]

In [131]:
bouts_clean.reset_index(inplace=True, drop=True)

In [132]:
bouts_clean.head()

,Winner,Event,Date,Location,Fighter 1,Fighter 2,Weight class,Stance 1,Career W 1,Career L 1,...,Streak 2,Career W 2,Career L 2,Career Fights 2,Career W Perc 2,Ht Diff 2,Reach Diff 2,Age 2,Stance 2,born_year 2
0,1,UFC Fight Night: Blaydes vs. Aspinall,2022-07-23 00:00:00,"London, England, United Kingdom",Muhammad Mokaev,Charles Johnson,Flyweight,Orthodox,7,0,...,0,11,2,13.0,84.615385,2,0,31,Switch,1991
1,0,UFC Fight Night: Nzechukwu vs. Cutelaba,2022-11-19 00:00:00,"Las Vegas, Nevada, USA",Zhalgas Zhumagulov,Charles Johnson,Flyweight,Switch,14,7,...,-1,11,3,14.0,78.571429,5,4,31,Switch,1991
2,1,UFC Fight Night: Strickland vs. Imavov,2023-01-14 00:00:00,"Las Vegas, Nevada, USA",Charles Johnson,Jimmy Flick,Flyweight,Switch,12,3,...,1,16,5,21.0,76.190476,-2,-2,33,Orthodox,1990
3,0,UFC Fight Night: Muniz vs. Allen,2023-02-25 00:00:00,"Las Vegas, Nevada, USA",Charles Johnson,Ode Osbourne,Catch Weight,Switch,13,3,...,-1,11,5,16.0,68.750000,-2,3,31,Southpaw,1992
4,1,UFC Fight Night: Song vs. Simon,2023-04-29 00:00:00,"Las Vegas, Nevada, USA",Cody Durden,Charles Johnson,Flyweight,Southpaw,14,4,...,-1,13,4,17.0,76.470588,2,3,32,Switch,1991

In [35]:
# bouts_clean.to_csv("ufc_bouts_clean.csv")
#

In [176]:
# print("{0} bouts in total, after clean up: {1} bouts".format(len(bouts), len(bouts_clean)))

7610 bouts in total, after clean up: 7412 bouts

In [177]:
# fighter1_data = fighters_clean.loc[bouts_clean["Fighter 1"]]
# fighter1_data = fighter1_data.add_suffix(' 1')
# fighter2_data = fighters_clean.loc[bouts_clean["Fighter 2"]]
# fighter2_data = fighter2_data.add_suffix(' 2')

In [178]:
# fighter1_data.head()

,Ht 1,Reach 1,Stance 1,W 1,L 1,D 1,SLpM 1,Str. Acc. 1,SApM 1,Str. Def 1,TD Avg. 1,TD Acc. 1,TD Def. 1,Sub. Avg. 1,win% 1,born_year 1
Name,,,,,,,,,,,,,,,,
Manon Fiorot,"5' 7""","65.0""",Orthodox,12,1,0,6.26,41.0,3.77,68.0,1.17,42.0,93.0,0.0,92.307693,1990
Joaquin Buckley,"5' 10""","76.0""",Southpaw,19,6,0,4.25,36.0,3.12,58.0,1.69,44.0,69.0,0.0,76.000000,1994
Chris Weidman,"6' 2""","78.0""",Orthodox,16,7,0,3.18,45.0,3.22,51.0,3.44,42.0,65.0,0.8,69.565216,1984
Nursulton Ruziboev,"6' 5""","76.0""",Orthodox,34,9,2,2.50,43.0,4.60,49.0,0.77,100.0,0.0,0.0,75.555557,1993
Kyle Nelson,"5' 11""","71.0""",Switch,16,5,1,3.65,45.0,4.69,52.0,1.10,20.0,73.0,0.6,72.727272,1991

In [179]:
# fighter2_data.head()

,Ht 2,Reach 2,Stance 2,W 2,L 2,D 2,SLpM 2,Str. Acc. 2,SApM 2,Str. Def 2,TD Avg. 2,TD Acc. 2,TD Def. 2,Sub. Avg. 2,win% 2,born_year 2
Name,,,,,,,,,,,,,,,,
Erin Blanchfield,"5' 4""","66.0""",Orthodox,12,2,0,5.47,45.0,4.34,58.0,2.05,33.0,81.0,1.0,85.714287,1999
Vicente Luque,"5' 11""","75.0""",Orthodox,22,10,1,5.07,52.0,5.21,52.0,1.00,53.0,62.0,0.6,66.666664,1991
Bruno Silva 185,"6' 0""","74.0""",Orthodox,23,11,0,4.12,49.0,5.45,41.0,0.93,27.0,73.0,0.0,67.647057,1989
Sedriques Dumas,"6' 2""","79.0""",Orthodox,9,2,0,1.76,45.0,2.14,57.0,0.71,50.0,40.0,0.4,81.818184,1995
Bill Algeo,"6' 0""","73.0""",Switch,18,8,0,6.16,52.0,4.52,47.0,0.86,46.0,56.0,0.1,69.230766,1989

In [180]:
# len(fighter1_data), len(fighter2_data)

(7412, 7412)

In [181]:
# now join the two datasets together
# fighter1_data.reset_index(inplace=True, drop=True)
# fighter2_data.reset_index(inplace=True, drop=True)
# combined = pd.concat([bouts_clean, fighter1_data, fighter2_data], axis=1, sort=False)

In [182]:
# combined.head()

,Winner,Date,Fighter 1,Fighter 2,Kd 1,Kd 2,Str 1,Str 2,Td 1,Td 2,...,SLpM 2,Str. Acc. 2,SApM 2,Str. Def 2,TD Avg. 2,TD Acc. 2,TD Def. 2,Sub. Avg. 2,win% 2,born_year 2
0,1,"March 30, 2024",Manon Fiorot,Erin Blanchfield,0,0,172,130,1,0,...,5.47,45.0,4.34,58.0,2.05,33.0,81.0,1.0,85.714287,1999
1,1,"March 30, 2024",Joaquin Buckley,Vicente Luque,0,0,55,21,0,0,...,5.07,52.0,5.21,52.0,1.00,53.0,62.0,0.6,66.666664,1991
2,1,"March 30, 2024",Chris Weidman,Bruno Silva 185,1,0,75,30,1,0,...,4.12,49.0,5.45,41.0,0.93,27.0,73.0,0.0,67.647057,1989
3,1,"March 30, 2024",Nursulton Ruziboev,Sedriques Dumas,1,0,12,1,0,0,...,1.76,45.0,2.14,57.0,0.71,50.0,40.0,0.4,81.818184,1995
4,1,"March 30, 2024",Kyle Nelson,Bill Algeo,0,0,32,30,0,0,...,6.16,52.0,4.52,47.0,0.86,46.0,56.0,0.1,69.230766,1989

In [183]:
# len(combined)

7412

In [133]:
bouts_clean.to_csv("ufc_combined_0911.csv")